/* Themes */

#Light {
  background: #fef5ea;
  color: black;
}

#Dark {
  background: #242424;
  color: #fef5ea;
}


/* example page */

.example{
  width: 100%;
  display: grid;
  grid-template-rows: 98.25px auto;
  grid-template-columns: 212px auto; 
  grid-template-areas: 
  "side-bar header"
  "side-bar other";
  height: 100vh;
}

/* SideBar */

.side-bar {
  width: 212px;
  position: fixed;
  height: 100vh;
  background: var(background-color);
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  box-shadow: 3px 0px 4px rgb(191, 191, 191);
  transition: width .3s ease;
  grid-area: side-bar;
}

.side-bar-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 25px;
  margin-bottom: 35px;
  gap: 10px;
  color: black;
  font-size: 20px;
}

.side-bar-content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar-content > li > a {
  display: flex;
}

.side-bar-content > li > a > .side-bar-icon-section {
  padding: 15px 25px 15px 0px;
  display: flex;
  gap: 10px;
  margin-left: 25px;
  /* background: #000; */
}

.side-bar-content > li > a > div {
  background: rgb(56, 159, 182);
  width: 5px;
  left: 0px;
  height: inherit;
  opacity: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity .3s ease;
}

.side-bar-content > li > a.active > div {
  opacity: 1;
}

.side-bar-content > li > a.active > * {
  color: rgb(56, 159, 182);
}

/* Header */

.header {
  grid-area: header;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.header-right-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Theme Button */

.theme-button{
  width: 35px; 
  height: 35px; 
  border-radius: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  cursor: pointer; 
  border: none;
  background: none;

}

.animate {
  animation: rotateAndFade 1s ease;
}

@keyframes rotateAndFade {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  /* 50% {
    opacity: 0.5;
    transform: rotate(180deg);
  } */
  100% {
    
    transform: rotate(360deg);
    opacity: 0;
  }
}