/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* SideBar */

.side-bar {
  /* width: 24px; */
  position: fixed;
  height: 100vh;
  background: #fef5ea;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 20px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
  border-right: 1.5px solid black;
  /* transition: width 0.2s ease; */
}

.side-bar-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: start;
  overflow-y: scroll;
}

.side-bar-icon {
  width: 24px;
  color: black;
  transition: transform 0.3s ease;
}

.side-bar-icon:hover {
  transform: scale(1.2);
}

.side-bar-open {
  align-items: start;
  /* width: 120px;j */
}

.side-bar-text {
  display: inline;
  margin-left: 20px;
}

.side-bar-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
}
